/*Entête*/

      .menu {
        display: inline-flex;
        justify-content: center;
        background-color: #1ac2b4;
        height: 20px;
        padding: 18px;
        margin-left:260px;
        border-radius: 10px;
        list-style:none;
      }
      
      .menu ul {
        display:flex;
        list-style: none;
        margin:0;
        padding:0;
      }
      
      .menu li {
        margin-right: 20px;
      }
      
      .menu li:last-child {
        margin-right: 0px;
      }
      
      .menu a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 5px;
        border-radius: 20px;
       transition: background-color 0.3s ease;
      }/*modifie la taille des button au clic*/
      
      .menu a:hover {
        background-color: #161616;
        color: #f3efef;
      }/*modifier l'aspect des buttons au clic*/

#LOGOPHARMA ul{list-style-type:none;}
             li.loc1:before{
                content:"\f3c5";
                margin-right: 10px;
                font-family: "FontAwesome";
                color:#1ac2b4;
               }

               li.loc2:before{
                content:"\f073";
                margin-right: 10px;
                font-family: "FontAwesome";
                color:#1ac2b4;
               }

               li.loc3:before{
                content:"\f095";
                margin-right: 10px;
                font-family: "FontAwesome";
                color:#1ac2b4;
               }


.Contenue{ 
         }

.InfoMedecine{
                font-size:16px;
               
            }

.InfoCoeur{
           
          }

.pied_de_page{   

                background-color:#1ac2b4 ;  

              }

              /*icone liste */

              li.icôn1:before{
                content:"\f3c5";
                margin-right: 10px;
                font-family: "FontAwesome";
               }
              

               li.icôn2:before{
                content:"\f095";
                margin-right: 10px;
                font-family: "FontAwesome";
               }

               
               li.icôn3:before{
                content:"\f0e0";
                margin-right: 10px;
                font-family: "FontAwesome";
               }
               /*social mediat icon*/

               li.soc1:before{
                content:"\f39e";
                margin-right: 10px;
                font-family: "FontAwesome";
               }

               li.soc2:before{
                content:"\f099";
                margin-right: 10px;
                font-family: "FontAwesome";
               }

               li.soc3:before{
                content:"\f16d";
                margin-right: 10px;
                font-family: "FontAwesome";
               }


.pied_de_page ul{list-style-type: none;}
    
            