.Entête{
      display:inline-flexbox;
      margin:2rem;
      padding: 1rem;
       }

       #LOGOPHARMA{
        display: flex;
        align-items: normal;
       
      }
      
      #LOGOPHARMA img {
        height: 100px;
        margin-right: 10px;
      }
      #remise{float:right;
              animation:slide 4s infinite;
               }

      
.Contenue{
        padding:5rem;
        margin:5rem;
        text-align:justify;
      }

    .InfoMedecine {
      /*line-height:1.5;*/
      display:inline-flex;
      padding:10rem;
      margin: 2rem;
                  }
    h2{float:left;}

    .diaporama2{
      /*margin: 7rem;*/
      padding:5rem;
      }
     
       .diaporama2 img{  
        float:right;
        height:auto;
        max-width: 100%;
        width: 50%;
        animation: slide 20s infinite;}
      
        .diaporama2 img:first-child {
          opacity: 1;
        }

     .diaporama1{
      margin-left: 5rem;
      margin-right:15rem;
     }
     
      .diaporama1 img{  
        position:absolute;
        max-width: 30%;
        /*width: 100%;*/
        height:auto;
        animation: slide 10s infinite;
        float:right;}
      
        .diaporama1 img:first-child {
          opacity: 1;
        }

        .diaporama3{
           
                    margin-right:1rem ;
                   }

        .diaporama3 img{  
         /* max-width: 100%;*/
          height:auto;
          width: 300px;
          animation: slide 10s infinite;
          }
        
          .diaporama3 img:first-child {
            opacity: 1;
          }
          
        

    @keyframes slide { 
      0% {
      opacity: 0;
      transform: translateX(100%);
    }
    8% {
      opacity: 1;
      transform: translateX(0%);
    }
    92% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    } 
  }
  


    .InfoCoeur{
                display:inline-flex;
                padding:10rem;
                margin: 2rem;
              }
              #h2{float:right;}

  

.pied_de_page{
               display:flex;
              
             }

         .contact{  
                    margin-right:10%;
                    text-align:center;
                  }
         .page{
          text-align:center;
          margin-right:10%;}
           
         .résociaux{
          text-align:center;
          margin-right:10%;}

         .droit{padding:3%;}