.Entête{
       position: center;
       padding: 20px;
       margin: 50px;
      display: flexbox;
      justify-content: space-between;
      align-items: center;
       }

       #LOGOPHARMA{
        display: flex;
        align-items: center;
      }
      
      #LOGOPHARMA img {
        height: 100px;
        margin-right: 10px;
      }

      /*.INFO li:nth-of-type(1){
        list-style-image: url("img/localisation.jpg");
      }

      .INFO li:nth-of-type(2){
        list-style-image: url("img/open.jpg");
      }
      .INFO li:nth-of-type(3){
        list-style-image: url("img/telephone.jpg");
      }ajouter des image a une liste*/
      
.Contenue{
        padding:20px;
        margin:60px;
        text-align:justify;
        /**width: 100%;*/
        /*display: inline-flex;*/
        /*flex-wrap: wrap;
        text-align: start;*//
        
               }
               
    .InfoMedecine {
      width: 70%;/*
      margin-right: 00px;
      margin-left:200px;
      padding:30px;
      /**line-height:1.5;*/
      display:inline-flex;
                  }
    h2{margin-left:100px;}

    .diaporama2{
      margin-left: 500px;
      margin-right: 500px;
      padding:200px;
      height: 100%;
      position: absolute;
      overflow: hidden;
      position:relative;
     }
     
      .diaporama2 img{  
        position: absolute;
        left: 0px;
        top: 0;
        opacity: 0;
        height: 300px;
        animation: slide 20s infinite;}
      
        .diaporama2 img:first-child {
          opacity: 1;
        }

     .diaporama1{
      margin-left: 50px;
      padding: 10px;
      /*height: 0%;
      position: absolute;
      overflow: hidden;
      position:relative;
      float:right;*/

     }
     
      .diaporama1 img{  
        /*position: absolute;
        left: 10px;*/
        top: 0;
        opacity: 0;
        height:30%;
        animation: slide 10s infinite;
        float:right;}
      
        .diaporama1 img:first-child {
          opacity: 1;
        }

        .diaporama3{
         /* margin-left: 50px;
          padding: 10px;
          /*height: 0%;
          position: absolute;
          overflow: hidden;
          position:relative;
          float:right;*/
    
         }
        .diaporama3 img{  
          position: absolute;/*
          left: 10px;*/
          /*margin-right: 500px;*/
          top: 250%;
          left:10%;
          opacity: 0%;
          height:45%;
          animation: slide 10s infinite;
          /*float:left;*/}
        
          .diaporama3 img:first-child {
            opacity: 1;
          }
          
        

    @keyframes slide { 
      0% {
      opacity: 0;
      transform: translateX(100%);
    }
    8% {
      opacity: 1;
      transform: translateX(0%);
    }
    92% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    } 
  }
  


    .InfoCoeur{   /*align-self:flex-start
                  /*display:inline-flex;*/
                  /* width: 100%;
                  float:right;*/
                   margin-left: 500px;
                   padding:1px;/*
                   line-height:1.5;*/
                   /*margin-top:20px;
                   /**text-align: left;*/ 

    }

  

.pied_de_page{
               /*text-align:;*/
               
               display:flex;
               justify-content: center;
             }

         .contact{  
                    margin-right:10%;
                  }
         .page{margin-right:10%;}
           
         .résociaux{margin-right:10%;}

         .droit{padding:3%;}