.Entête{
         padding:30px;
       }
        figcaption{ text-align:center;}
       
        /*figure img{border: 10px solid black}*/
.Entête img{width:100%;}


.contenue{ margin: 50px;
          padding:10%;
          /*border:10px solid black;*/
          font-size:30px;
        }

.pieddepage{ margin:30px;
             /*border:10px solid black;*/
             text-align:center;
           }
           ul{list-style:none;}
           li.icôn1:before{
            content:"\f095";
            margin-right: 10px;
            font-family: "FontAwesome";
           }

           li.icôn2:before{
            content:"\f0e0";
            margin-right: 10px;
            font-family: "FontAwesome";
           }

           li.icôn3:before{
            content:"\f09b";
            margin-right: 10px;
            font-family: "FontAwesome";
           }

           
        